*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo-inicio {
   background-image: url(giphy.gif);
   background-size: cover;
   background-repeat: no-repeat;
}
.contenedor-boton {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}
.contenedor-boton :hover{
    filter: drop-shadow(0 -10px 5px rgba(255, 196, 0, 0.7));
    opacity: 0.7;
    transition: 0.1s;
}
.opacidad :hover {
    filter: drop-shadow(0 -10px 5px rgba(255, 0, 0, 0.7));
    opacity: 0.1;
    transition: 0.3s;
}

img{
    filter: drop-shadow(0 -10px 20px rgba(0,0,0, 0.7));
}

.luffy {
    position: absolute;
    right: 0;
    height: 70vh;
}
.fondo-pelea {
    background-image: url(200w.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.kaido {
    position: absolute;
    left: 0;
    height: 70vh;
}
.puño {
    position: absolute;
    top: 80%; /* Coloca el batazo debajo de Kaido */
    left: 45%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translateX(-100%); /* Centra horizontalmente el batazo */
    height: 10vh;
    width: 15vh;
}
.patada {
    position: absolute;
    top: 80%; /* Coloca el batazo debajo de Kaido */
    left: 55%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translateX(-100%); /* Centra horizontalmente el batazo */
    height: 10vh;
    width: 15vh;
}
.cabezazo {
    position: absolute;
    top: 80%; /* Coloca el batazo debajo de Kaido */
    left: 65%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translateX(-100%); /* Centra horizontalmente el batazo */
    height: 10vh;
    width: 15vh;
}
.contenedor {
    position: absolute;
    top: 70%; /* Coloca el batazo debajo de Kaido */
    left: 1%; /* Ajusta la posición horizontal según tus necesidades */ /* Centra horizontalmente el batazo */
    height: 2vh;
    width: 30%;
    border: 2px solid black;
}
.vida {
    position: absolute;/* Ajusta la posición horizontal según tus necesidades */ /* Centra horizontalmente el batazo */
    height: 1.8vh;
    background-color: rgb(119, 0, 255);
    width: 100%;
    text-align: center;
}
.contenedor2 {
    position: absolute;
    top: 70%; /* Coloca el batazo debajo de Kaido */
    left: 69%; /* Ajusta la posición horizontal según tus necesidades */ /* Centra horizontalmente el batazo */
    height: 2vh;
    width: 30%;
    border: 2px solid black;
    text-align: right;
}
.vida2 {
    position: absolute;/*ades */ /* Centra horizontalmente el batazo */
    height: 1.8vh;
    background-color:red;
    width: 100%;
    text-align: center;
}
.defensa-luffy {
    display: hidden;
}

#defensa1 {
    position: absolute;
    top: 80%; /* Coloca el batazo debajo de Kaido */
    left: 45%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translateX(-100%); /* Centra horizontalmente el batazo */
    height: 10vh;
    width: 15vh;
}
#defensa2 {
    position: absolute;
    top: 80%; /* Coloca el batazo debajo de Kaido */
    left: 55%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translateX(-100%); /* Centra horizontalmente el batazo */
    height: 10vh;
    width: 15vh;
}
#defensa3 {
    position: absolute;
    top: 80%; /* Coloca el batazo debajo de Kaido */
    left: 65%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translateX(-100%); /* Centra horizontalmente el batazo */
    height: 10vh;
    width: 15vh;
}
.mensaje { /* Ajusta la posición horizontal según tus necesidades */ /* Centra horizontalmente el batazo */
    height: 8vh;
    width: 50vh;
    text-align: center;
    color: rgb(15, 15, 15);
}
.invisible {
    display: none;
}
.caja-mensaje {
    position: absolute;
    top: 20%; /* Coloca el batazo debajo de Kaido */
    left: 40%;
    height: 10vh;
    width: 50vh;
    
}
h1 {
    position: absolute;
    top: 70%; /* Coloca el batazo debajo de Kaido */
    left: 45%;
}
.creditos{
    position: absolute;
    top: 100%;
}