*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo-inicio {
   background-image: url(giphy.gif);
   background-size: cover;
   background-repeat: no-repeat;
}
.contenedor-boton {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}
.contenedor-boton :hover{
    filter: drop-shadow(0 -10px 5px rgba(255, 196, 0, 0.7));
    opacity: 0.8;
    transition: 0.1s;
}

.contenedor-boton span {
    font-size: 50px;
    transform: rotate(-30deg);
    position: absolute; 
    top: 45%; 
    left: 47%; 
    color: rgb(235, 225, 225);
  }
  .contenedor-boton:hover span {
    opacity: 0;
  }
.opacidad {
    background-color: transparent;
    border: none; 
    padding: 0; 
}
.opacidad :hover {
    filter: drop-shadow(0 -10px 5px rgba(255, 0, 0, 0.7));
    opacity: 0.8;
    transition: 0.3s;
}

.luffy {
    position: absolute;
    right: 0;
    height: 70vh;
}
.fondo-pelea {
    background-image: url(200w.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.kaido {
    position: absolute;
    left: 0;
    height: 70vh;
}
.tamaño {
    height: 10vh;
    width: 15vh;
}
.contenedor {
    position: absolute;
    top: 70%; 
    left: 1%; 
    height: 2vh;
    width: 30%;
    border: 2px solid black;
}
.vida {
    position: absolute;
    height: 1.8vh;
    background-color: rgb(119, 0, 255);
    width: 100%;
}
.contenedor2 {
    position: absolute;
    top: 70%; 
    left: 69%; 
    height: 2vh;
    width: 30%;
    border: 2px solid black;
    text-align: right;
}
.vida2 {
    position: absolute;
    height: 1.8vh;
    background-color:red;
    width: 100%;
}
.defensa-luffy {
    display: hidden;
}
.mensaje { 
    font-size: larger;
    text-align: center;
    color: rgb(15, 15, 15);
}
.invisible {
    display: none;
}
.caja-mensaje {
    background-color: rgba(0, 0, 255, 0.2);
    position: absolute;
    top: 20%; 
    left: 40%;
    height: 12vh;
    width: 50vh;
    border: 5px solid black;
}
h1 {
    position: absolute;
    top: 70%; 
    left: 45%;
}
.creditos{
    position: absolute;
    top: 100%;
}
.ataques-luffy{
    position: absolute;
    top: 80%;
    left: 40%;
    width: 50vh;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.boton-reiniciar {
    background-color: rgba(0, 0, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 55%;
    width: 15vh;
    height: 5vh;
    border: 3px solid black;
}

.boton-reiniciar a {
    color: white;
    text-decoration: none;
}

.boton-regresar {
    background-color: rgba(0, 0, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 15%;
    width: 15vh;
    height: 5vh;
    border: 3px solid black;
}
  
.boton-regresar a {
    color: white;
    text-decoration: none;
}